@font-face {
  font-family: "Ad Lib";
  src:
    /*local("Ad Lib"), /* Fuck if I know, it's on my computer and the browser doesn't ever use it, that's why I added the file here in the first place */
    url("./Adlib.ttf") format("opentype");
}


html {
	width: 100%;
	height: 100%;

	background-image: url('./img/Gloomy Manor.jpg');
	background-size: cover;
	background-position: center;

	font-family: 'Ad Lib';
	color: #fff;
	text-shadow: 3px 3px 0 #000;
}
body {
	margin: 0;
	paddin: 0;
}

#siteContainer {
	margin: 0 auto;

	width: 900px;
}
#contentContainer {
	padding: 10px 10%;

	background: linear-gradient(90deg, transparent, #000000bb 10%, #000000bb 90%, transparent 100%);
}

/* === SCORE INPUT === */
.scoreIcons {
	width: 20px;
	vertical-align: middle;
}

.scoreInput {
	height: 20px;
	width: 100px;

	border: 0px solid black;
	padding: 2px;
	padding-right: 5px;

	font-family: "Ad Lib";
	color: white;
	text-align: right;

	background-color: #517dffbf;

	clip-path: polygon(0% 7.84%, 99.46% 15%, 95.57% 95.06%, 9.56% 83.11%);
}
#timeH, #timeMin, #timeS {
	width: 40px;
}
#ghostsCaptured {
	width: 60px;
}
#healthLost {
	width: 75px;
}


/* === PROGRESS BAR === */

#progressIndicators {
	position: relative;

	height: 80px;

	margin-bottom: 10px;
}

#progressIndicators .scoreInput {
	position: relative;
	left: -20px; /* -40px (half of this width) + 20px (half of #progressIndicators width) */

	width: 80px;
}

.rankIndicatorIcons {
	height: 40px;
}
.rankIndicators {
	position: absolute;
}
#bronzeIndicator {
	left: -10px; /* -20px (half of this) + 10px (gap on progress bar, see script.js) */
}
#silverIndicator {
	left: calc(50% - 20px);
}
#goldIndicator {
	left: calc(100% - 30px); /* 100% - 20px - 10px, see above) */
}

.rankIndicatorArrow {
	display: block;
	position: relative;

	left: 10px;

	height: 20px;
	width: 20px;

	clip-path: polygon(3% 27%, 50% 50%, 100% 20%, 50% 100%);
}
#bronzeIndicator > .rankIndicatorArrow {
	background-color: #b6877e;
}
#silverIndicator > .rankIndicatorArrow {
	background-color: #8aaaad;
}
#goldIndicator > .rankIndicatorArrow {
	background-color: #d0ad78;
}

#bronzeIndicator > .scoreInput {
	visibility: hidden;
}

#progressContainer {
	display: block;

	height: 20px;
	width: 100%;

	padding: 2px;

	background-color: #000064;
	background-color: #1e1edb;

	clip-path: polygon(7px -0.11%, 99.89% 5px, 98.99% 89.39%, 0.27% 96%);
}

#progressBarContainer {
	display: block;
	position: relative;

	height: 100%;
	width: 100%;

	scale: 0.999;
	clip-path: polygon(7px -0.11%, 99.89% 5px, 98.99% 89.39%, 0.27% 96%);
}
#progressBar {
	display: block;
	position: relative;

	height: 100%;
	width: 100%;

	/* Bronze */
	background: linear-gradient(90deg, #ab6958, #c49890);
}
#progressBar.silverReached {
	background: linear-gradient(90deg, #6296a7, #bfe5e3);
}
#progressBar.goldReached {
	background: linear-gradient(90deg, #c08c46, #d0c2a3);
}

/* === RESULT === */
#finalScoreDisplay {
	position: relative;

	width: 100px;

	visibility: hidden;
}

#finalScoreDisplay > .rankIndicatorArrow {
	left: 40px; /* 50px (half of parent) - 10px (half of this) */

	transform: scale(1, -1);
	background-color: gold;
}

#totalScoreText {
	display: block;
	position: relative;
	top: -5px;

	width: 100px;

	text-align: center;
}

#finalScoreDisplay > .scoreInput {
	position: relative;
	left: 7px; /* 50px (half of parent) - 43px (half of this, 40px width + 7px padding) */
	top: -7px;

	width: 80px;
}

/*.resultItem {
	color: green;
}

#scoreResult {
	color: red;
}*/

/* === Parallelogram === */

.parallelogram {
	position: relative;

	z-index: 0;

	margin: 15px;
	border: none;
	padding: 20px 45px;

	background:none;
	outline: none;

	font-family: 'Ad Lib';
	font-size: 30px;
	color: #fff;
	text-shadow: 3px 3px 0 #000;
}
.parallelogram:hover {
	cursor: pointer;
}

.parallelogram:before,
.parallelogram:after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: -1;

	background-color: #8685858a;

	clip-path: polygon(24px 12.39%, 93.13% 16px, 89.19% 76.89%, 12.7% 87.66%);
	/*transform: scale(-1, 1);*/
	scale: 1;

	transition: background-color .1s;
}

.parallelogram:hover:before,
.parallelogram:hover:after {
	background-color: #2a77168a;
	scale: 1.05;

	/* It only transitions the background-color when the transition is here because browsers suck massive ass, I suppose - this also means it only transitions to and not from */
	transition: background-color .1s;
	transition: scale .1s;
}
.parallelogram:active:before,
.parallelogram:active:after {
	background-color: #2468128a;
	scale: 1.1;

	transition: background-color .1s;
	transition: scale .1s;
}